@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-body {
  box-sizing: border-box;
  min-width: 300px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

@import "./github-markdown-light.min.css";